:root {
    --clip: #999999;
    --main: #EFE4BB;
    --hr_line: #000000;
}


* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* body{
    display: flex;
    align-items: center;
} */

.main {
    width: 1200px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top_triangle {
    width: 0;
	height: 0;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
    border-bottom: 60px solid var(--clip);
    margin-bottom: -1px;
}

.trapezoid {
    height: 0;
    width: 150px;
  }

.top_trapezoid {
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 60px solid var(--clip);
  z-index: 1;
}

.main_section {
    width: 1024px;
    height: auto; 
    margin-top: -60px;
    background-color: var(--main);
    border-radius: 5px;
    box-shadow: 5px 3px 5px rgb(207, 233, 250);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0px 70px 50px 70px;
}

.insert_form_section {
    padding-top: 80px ;
    width: 900px;
}

.insert_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.insert_item div input {
    width: 700px;
    height: auto;
}

.insert_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.insert_item_button {
    margin-left: 80px;
    width: 87px;
    box-shadow: 1px 3px 10px rgb(134, 135, 136);
    font-size: 20px;
}

.insert_item_button input{
    font-size: 20px;
}

.insert_item div input {
    font-size: 20px;
}

.insert_item div p {
    font-size: 25px;
}

.items_section {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action_item_head, .to_do_item_head, .status_item_head {
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.action_item, .to_do_item, .status_item {
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.to_do_item{
    font-family: 'Schoolbell', arial, serif; 
}


.action_item_head, .action_item {
    width: 90px;
    padding-right: 10px;
}

.to_do_item_head, .to_do_item {
    width: 650px;
    display: flex;
    justify-content: flex-start;
}

.status_item_head, .status_item {
    width: 100px;
    display: flex;
    justify-content: center;
}

hr{
    width: 100%;
    border-top: 1px solid var(--hr_line);
}

.hr_dashed {
    border-top: 1px dashed var(--hr_line);
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




